<h1 class="font-weight-bold text-success">TechCrunch News Scraper</h1>
<h2 class="text-light">For the latest and greatest in startup and technology news</h2>
<br>
{{#if home}}
    <a href="/" class="btn btn-light disabled">Home</a>
    <a href="/articles/saved" class="btn btn-light">Saved Articles</a>
{{else}}
    <a href="/" class="btn btn-light">Home</a>
    <a href="/articles/saved" class="btn btn-light disabled">Saved Articles</a>
{{/if}}
<button class="btn btn-success" id="scrape">Scrape!</button>
<br><br>
<h3 class="text-center text-light">
    {{#if home}}
        Home
    {{else}}
        Saved Articles
    {{/if}}
</h3>
<hr class="border-info">
{{#if articles.length}}
    <div id="accordion">
        {{#each articles}}
            <div class="card">
                <div class="card-header" id="{{_id}}-block">
                    <h5 class="mb-0">
                        {{title}}
                        <br>
                        <small>By {{author}}</small>
                    </h5>
                    <hr>
                    <p>{{blurb}} <a href="{{uri}}" target="_blank">Read more in new tab.</a></p>
                    {{#if ../home}}
                        {{#if saved}}
                            <button type="button" class="btn btn-secondary" disabled>Article has been saved.</button>
                        {{else}}
                            <button type="button" class="btn btn-success save" data-article-id="{{_id}}" data-save="true">Save Article</button>
                        {{/if}}
                    {{else}}
                        <button type="button" class="btn btn-outline-success unsave" data-article-id="{{_id}}" data-save="false">Remove From Saved</button>
                    {{/if}}
                    <button class="btn btn-info" data-toggle="collapse" data-target="#{{id}}" aria-expanded="false" aria-controls="{{_id}}">
                        View Notes
                    </button>
                </div>
                <div id="{{_id}}" class="collapse hide" aria-labelledby="{{_id}}-block" data-parent="#accordion">
                    <div class="card-body">
                        {{#if notes}}
                            <div class="card">
                                <div class="card-header">
                                    Notes
                                </div>
                                <ul class="list-group list-group-flush">
                                    {{#each notes}}
                                        <li class="list-group-item d-flex justify-content-between">
                                            {{body}}
                                            <button type="button" class="btn btn-danger btn-sm delete-note" data-note-id="{{_id}}" data-article-id="{{../_id}}">X</button>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        {{else}}
                            <div class="card">
                                <div class="card-header">
                                    There are no notes for this article yet. Why don't you write the first one?
                                </div>
                            </div>           
                        {{/if}}
                        <br>
                        <form>
                            <div class="form-group">
                                <label for="noteInput">Add a Note:</label>
                                <textarea class="form-control" id="{{_id}}-input" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary add-note" data-article-id="{{_id}}">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <br>
        {{/each}}
    </div>
{{else}}
    <div class="card">
        <h4 class="card-header"><small>
            No articles
            {{#if home}}
                found. Try hitting Scrape to see what's new!
            {{else}}
                saved. Head to the home page to find some faves!
            {{/if}}
        </small></h4>
    </div>
{{/if}}